<div class="row mt-5">
  <div class="col-12 col-md-4">
    <div class="card">
      <div class="card-header">
        Carrierwave
      </div>
      <div class="card-body">
        <%= link_to "Learn More", carrierwave_posts_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-4">
    <div class="card">
      <div class="card-header">
        ActiveStorage
      </div>
      <div class="card-body">
        <%= link_to "Learn More", active_storage_posts_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-4">
    <div class="card">
      <div class="card-header">
        Shrine
      </div>
      <div class="card-body">
        <%= link_to "Learn More", shrine_posts_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>

</div>
