<div class="row mt-5">
  <div class="col-12 col-md-4">
    <div class="card">
      <div class="card-header">
        Carrierwave
      </div>
      <div class="card-body">
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-4">
    <div class="card">
      <div class="card-header">
        ActiveStorage
      </div>
      <div class="card-body">
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-4">
    <div class="card">
      <div class="card-header">
        Shrine
      </div>
      <div class="card-body">
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>

</div>
