<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Rails Uploaders</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Carrierwave", carrierwave_posts_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ActiveStorage", active_storage_posts_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Shrine", shrine_posts_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>
